* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Animations */
@keyframes slideDown {
    from {
        transform: translateY(-100px);
        opacity: 0%;
    }

    to {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100px);
        opacity: 0%;
    }

    to {
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(+100px);
        opacity: 0%;
    }

    to {
        transform: translateX(0);
        opacity: 100%;
    }
}

#callBtn {
    animation: slideDown 0.8s ease-out 0.5s 1 backwards;
}

#locationBtn {
    animation: slideDown 0.8s ease-out 0.5s 1 backwards;
}

.text-box h1 {
    animation: slideDown 0.8s ease-out 0.1s 1 backwards;
}

.text-box p {
    animation: slideDown 0.8s ease-out 0.3s 1 backwards;
}

/* Animations */

.header {
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(bookshelfBG.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 70px;
    font-weight: 600;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

#callBtn,
#locationBtn {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

#callBtn:hover span {
    width: 100%;
}

#callBtn:hover {
    border: none;
}

#locationBtn:hover span {
    width: 100%;
}

#locationBtn:hover {
    border: none;
}

.headerButton {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.headerButton:hover {
    border: 1px solid #ffa845;
    background: #ffa845;
    transition: 1s;
}

nav .fa {
    display: none;
}

nav .fa-solid {
    display: none;
    /* style="color: #ffffff;" */
}

@media(max-width:700px) {
    .text-box h1 {
        font-size: 32px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #3a3a3a;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 20px;
        font-size: 20px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 10px;
    }

    nav .fa-solid {
        display: block;
        color: #fff;
    }
}

/* --------- course ------- */

.collapsible {
    background-color: #e5e3e3;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;

    font-size: 32px;
    font-weight: 600;
    text-align: center;

    border-top: 10px solid #ffffff;
    transition: 0.2s;
}

.collapsible::after {
    content: '';
    position: absolute;
    padding-right: 210px;
    right: 0px;
}

.collapsible-label{
    font-size: 32px;
    font-weight: 600;
    position: absolute;
    right: 11%;
    margin-top: 30px;
}

@media(max-width:700px) {
    .collapsible::after {
        content: '';
        padding-right: 0px;
    }
    .collapsible-label{
        display: none;
    }
}

.active,
.collapsible:hover {
    background-color: #f5f5ef;
}

.course {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

/* faaliyet alanlarımız title'si */
#title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: #000;
    padding-bottom: 50px;
}

#subtitle {
    margin-bottom: 2%;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.course p {
    font-size: 19px;
    font-weight: 300;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;

    line-height: 1.33;
}

.statement-list {
    font-size: 19px;
    font-weight: 300;
    text-align: left;
    list-style-position: inside;
    margin-left: 5%;
    line-height: 1.33;
}

.column {
    display: block;
    justify-content: center;
}

.embedVideo {
    padding-top: 50px;
    width: 100%;
    height: 550px;
    background-color: #f5f5ef;
    text-align: center;

    margin-bottom: 50px;
}

@media(max-width: 700px) {
    .embedVideo {
        height: 400px;
        padding-top: 0px;
        background-color: #fff;
    }
}

.course-row {
    background: #f5f5ef;
    /* border-radius: 20px; */
    /* margin-bottom: 1%; */
    /* padding: 20px 12px; */
    box-sizing: border-box;

    background-size: cover;
    background-position: center;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.8)), url(justice.jpeg); */

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

/* .course.show{
    animation: slideDown 0.6s ease-out 0.8s 1 backwards;
} */

/* .course-row.show{
    animation: slideDown 0.8s ease-out 0.3s 1 backwards;
} */

/* #courseP.show{
    animation: slideDown 0.6s ease-out 0.4s 1 backwards;
} */

@media(max-width:700px) {
    .course p {
        font-size: 16px;
    }

    .statement-list {
        font-size: 16px;
    }
}

/* ------------------------------------ */


/* .course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

#courseHeader{
    font-size: 36px;
    font-weight: 600;
}

.course p{
    color: #777;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background: #f5f5ef;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-col.show{
    animation: slideDown 0.6s ease-out 0.8s 1 backwards;
}

#courseHeader.show{
    animation: slideDown 0.8s ease-out 0.3s 1 backwards;
}

#courseP.show{
    animation: slideDown 0.6s ease-out 0.4s 1 backwards;
}

.course h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
} */

/* -------------- ÖZ GECMİŞ ------------- */

.resume {
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to left, #ffffff 38%, #dadada 100%);
    background-position: center;
    background-size: cover;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.resume img {
    margin-left: 10%;
    max-width: 600px;
    float: left;
    border-radius: 20px;
    margin-right: 100px;
    margin-top: 5%;
    margin-bottom: 5%;
    animation: slideRight 0.8s ease-out 0.5s 1 backwards;
}

.text-resume h2 {
    text-align: left;
    font-size: 32px;
    margin-bottom: 50px;
    color: #000;
    /* Broken */
    /* animation: slideLeft2 0.8s ease-out 0.5s 1 backwards; */
}

.text-resume p {
    color: #000;
    font-size: 23px;
    text-align: left;
    margin-right: 15%;
    font-weight: 300;
    padding: 5px;
    animation: slideLeft 0.8s ease-out 0.5s 1 backwards;
}

@media(max-width: 700px) {
    .wrapper {
        flex-direction: column;
    }

    .resume img {
        margin-bottom: 50px;
        margin-left: 5%;
        margin-right: 5%;
        max-width: 300px;
    }

    .text-resume h2 {
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 23px;
    }

    .text-resume p {
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 5%;
        font-size: 19px;
        text-align: left;
    }

    .resume {
        background: linear-gradient(to top, #ffffff 38%, #dadada 100%);
    }
}

/* GERÇEK ÖZGEÇMİŞ */

/* .aboutPage {
    margin: auto;
}

#aboutHeader {
    margin-top: 3%;
    font-size: 36px;
    text-align: center;
    font-weight: 600;
}

.aboutP {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 23px;
    font-weight: 300;
    padding: 5px;
} */

/* ------------- Google Maps Location ------------ */

.location {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background: #f5f5ef;
}

.location h1 {
    font-size: 36px;
    font-weight: 600;
}

.location p {
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    color: #777;
}

.container {
    width: 100%;
    margin-top: 50px;
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

iframe {
    width: 60%;
    height: 500px;
    /* filter: invert(100%); */
    margin-bottom: 100px;
}

@media(max-width: 700px) {
    iframe {
        height: 350px;
        width: 100%;
    }

    .location h1 {
        font-size: 23px;
    }

    .location p {
        font-size: 19px;
        margin-right: 10%;
        margin-left: 10%;
    }
}

/* ----------- SİZİ ARAYALIM --------- */

.contact {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(banner.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    text-align: center;
    padding: 100px 0;
}

.contact h1 {
    color: #fff;
    padding: 0;
    font-size: 36px;
    font-weight: 600;
}

.contact p {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    line-height: 22px;
    font-weight: 300;
}

@media(max-width: 700px) {
    .contact h1 {
        font-size: 24px;
    }

    .contact {
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .contact p {
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* ------------- HAKKIMIZDA ------- */

.socialMediaAccounts {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #3a3a3a;
}

.socialMediaAccounts h1 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-size: 36px;
    font-weight: 600;
    color: #f5f5ef;
}

.socialMediaAccounts p {
    font-size: 20px;
    color: #fff;
    padding: 10px;
    line-height: 22px;
    padding: 10px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    margin-left: 5%;
}

.about div {
    height: 300px;
    width: 300px;
    color: #fff;
    margin-right: 30px;
    text-align: left;
}

.socialMediaAccounts h4 {
    color: #777;
    margin-top: 50px;
}

.alignLeft {
    float: left;
    color: #fff;
    margin: 0px;
    list-style: none;
}

.alignRight {
    float: right;
    color: #fff;
    margin: 0px;
    list-style: none;
}

@media(max-width: 700px) {
    .about {
        margin-top: 80px;
        flex-direction: column;
    }
}

@media(max-width: 700px) {
    .about div {
        height: 220px;
    }

    .socialMediaAccounts h4 {
        margin-left: 5%;
        margin-right: 5%;
    }
}

#aboutMenu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

#aboutMenu ul li {
    list-style: none;
    position: relative;
}

#aboutMenu ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

#aboutMenu ul li:hover::after {
    width: 100%;
}

.icons {
    color: #fff;
    size: 500px;
    font-size: 30px;
}

@media(max-width: 700px) {
    .socialMediaAccounts p {
        margin-top: 80px;
    }
}